@using SynWebCRM.Data
@model SynWebCRM.Data.Customer

@{
    ViewBag.Title = "Карточка клиента";
    ICollection<Deal> deals = ViewBag.Deals;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @if (!string.IsNullOrEmpty(Model.VkId))
        {
            <dt>
                @Html.DisplayNameFor(model => model.VkId)
            </dt>
            <dd>
                <a target="_blank" href="https://vk.com/@(Model.VkId)">@(Model.VkId) </a>
            </dd>

        }

    </dl>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.CustomerId })
    </p>
    <div class="deals">
        @{ var names = new Deal(); }
        <h4>Сделки</h4>
        <p>
            <a href="/Deals/Create?CustomerId=@Model.CustomerId">Создать</a>
        </p>
        @if (Model.Deals.Any())
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => names.CreationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => names.Customer.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => names.Sum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => names.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => names.Type)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in deals)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            <a title="Подробнее" href="/Deals/Details/@item.DealId"><i class="fa fa-eye"></i></a> |
                            <a title="Редактировать" href="/Deals/Edit/@item.DealId"><i class="fa fa-pencil"></i></a> |
                            <a title="Удалить" href="/Deals/Delete/@item.DealId"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    @if (Model.Notes.Any())
    {
        <h4>Заметки</h4>
        <div class="notes">
            @foreach (var note in Model.Notes)
            {

                <div class="panel panel-success" id="note@(note.NoteId)">

                    <div class="panel-heading">
                        @if (User.IsInRole(SynWebCRM.Security.Roles.Admin) || User.Identity.Name.Equals(note.Creator))
                        {
                            <div class="pull-right">
                                <a class="text-warning" onclick="deleteNote(@note.NoteId)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        }
                        <h3 class="panel-title">@note.CreationDate.ToString("yyyy-MM-dd HH:mm")</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Raw(note.Text.Replace(Environment.NewLine, "<br />"))
                    </div>
                </div>
            }
        </div>
    }

    <div class="new-note">
        <h4>Новая заметка</h4>
        <textarea class="new-note-text form-control"></textarea>
        <button type="button" class="btn btn-default">Добавить</button>
    </div>

    @section Scripts{


        <script>
            function deleteNote(id) {
                $.post("/api/note/" + id + "/delete", null, function(res) {
                    if (res.succeed) {
                        $("#note" + id).remove();
                    }
                });
            }

            $(function() {
                $(".new-note button").click(function() {
                    var txtarea = $("textarea.new-note-text");
                    var val = txtarea.val();
                    txtarea.val("");
                    var customerId = @Model.CustomerId;
                    if (val) {
                        $.post("/api/customers/notes/add", { customerId: customerId, text: val }, function(res) {
                            if (res.succeed) {
                                location.reload();
                            }
                        });
                    }
                });
            });
        </script>
    }
</div>
<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
