@using SynWebCRM.Web.Security
@model SynWebCRM.Contract.Models.Estimate
@{
    ViewBag.Title = "Смета на разработку";
    if (!User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Estimates/_EstimateLayout.cshtml";
    }
}

<link href='/Content/estimate.print.css' rel='stylesheet' media='print' />

<style>
    h1 {
        margin-top: 0;
    }

    .estimate-logo {
        margin: 20px;
        white-space: nowrap;
    }

        .estimate-logo:hover {
            text-decoration: none;
        }

        .estimate-logo span {
            margin-left: 10px;
            color: #000;
            font-size: 30px;
            font-weight: 400;
            vertical-align: middle;
            letter-spacing: 1px;
        }
</style>


<div class="pull-right">


    <a href="http://synweb.ru/" class="estimate-logo">
        <img src="http://synweb.ru/Content/clientTemplate/images/logo-35.png" alt="SynWeb - разработка сайтов на заказ">
        <span>СИНВЕБ</span>
    </a>


</div>

@if (!string.IsNullOrEmpty(Model.Title))
{
    <h1>@Model.Title</h1>
}
@if (!string.IsNullOrEmpty(Model.Subtitle))
{
    <h2>@Model.Subtitle</h2>
}
@if (Model.Items.Any())
{
    <table class="table">
        <tr>
            <th></th>
            <th>Цена, <i class="fa fa-rub"></i></th>
            <th>Часы</th>
            <th class="text-left">Комментарий</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td class="text-center nowrap">
                    <span>@item.Price.ToString("# ##0.00")</span>
                    @if (item.PerMonth)
                    {
                        <br/>
                        <span>в мес.</span>
                    }
                </td>
                <td class="text-center">@item.DevelopmentHours</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
    if (Model.Items.Where(x => x.DevelopmentHours.HasValue).Sum(x => x.DevelopmentHours.Value) > 0)
     {
         <div>
             <dl class="dl-horizontal">
                 <dt>Почасовая ставка</dt>
                 <dd>@Model.HourlyRate <i class="fa fa-rub"></i></dd>
             </dl>
         </div>
     }
}


<div>
    <dl class="dl-horizontal" style="font-size: 18px;">
        @if (Model.Total != 0)
        {
            <dt>
                Итог
            </dt>
            <dd>
                <span @(Model.Discount != 0 ? "class=strikethrough" : "")>@Model.Total.ToString("# ##0.00") <i class="fa fa-rub"></i></span>
                @if (Model.Discount != 0)
                {
                    <span class="bold">
                        &nbsp;&nbsp;
                        @((Model.Total * (decimal)(1 - Model.Discount / 100.0)).ToString("# ##0.00")) <i class="fa fa-rub"></i>
                    </span>
                }
            </dd>
        }
        @if (Model.MonthlyTotal != 0)
        {
            <dt>
                Ежемесячно
            </dt>
            <dd>
                <span @(Model.Discount != 0 ? "class=strikethrough" : "")>@Model.MonthlyTotal.ToString("# ##0.00") <i class="fa fa-rub"></i></span>
                @if (Model.Discount != 0)
                {
                    <span class="bold">
                        &nbsp;&nbsp;
                        @((Model.MonthlyTotal * (decimal)(1 - Model.Discount / 100.0)).ToString("# ##0.00")) <i class="fa fa-rub"></i>
                    </span>
                }
            </dd>
        }
        @if (Model.Discount != 0)
        {
            <dt>
                Скидка
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Discount)%
            </dd>
        }
    </dl>
</div>


@if (!string.IsNullOrWhiteSpace(Model.Text))
{
    <div>
        @Html.Raw(Model.Text)
    </div>
}




<div>
    <h2>Наши контакты</h2>
    <dl class="dl-horizontal">
        <dt>
            Email
        </dt>
        <dd>
            <a href="mailto:order@synweb.ru">order@synweb.ru</a>
        </dd>
        <dt>
            Телефон
        </dt>
        <dd>
            <span>+7 919 997-15-17</span>
        </dd>
        <dt>
            Адрес
        </dt>
        <dd>
            <span>Москва, ул. Народная, дом 14, строение 3.</span>
        </dd>
        <dt>

        </dt>
        <dd>
            <a href="http://synweb.ru" target="_blank">http://synweb.ru</a>
        </dd>
    </dl>
</div>
@if (Model.RequisitesVisible)
{
    <h2>Наши реквизиты</h2>
    <dl class="dl-horizontal">
        <dt>

        </dt>
        <dd><strong>ООО &laquo;Сидиум&raquo;</strong></dd>
        <dt>
            ОГРН
        </dt>
        <dd>
            1167746193713
        </dd>
        <dt>
            ИНН/КПП
        </dt>
        <dd>
            7718299439/771801001
        </dd>
        <dt>
            Юридический адрес
        </dt>
        <dd>
            107076, г. Москва, Колодезный пер., д. 14, пом. XIII, комн. 41
        </dd>
        <dt>
            Р/с
        </dt>
        <dd>
            40702810500000017071 <em>в АО "РАЙФФАЙЗЕНБАНК" г. МОСКВА</em>
        </dd>
        <dt>
            БИК
        </dt>
        <dd>
            044525700
        </dd>
        <dt>
            Корр/c
        </dt>
        <dd>
            30101810200000000700
        </dd>
    </dl>
}

<blockquote>
    <p>Содержимое данного документа является коммерческой тайной и не подлежит разглашению третьим лицам. Стороны несут ответственность за неразглашение информации, указанной в документе, в соответствии с законодательством РФ.</p>
</blockquote>


<p class="hidden-print"><small>Чтобы распечатать смету, нажмите Ctrl+P</small></p>

@if (User.IsInRole(CRMRoles.Admin) || User.IsInRole(CRMRoles.Sales))
{
    <a class="btn btn-link hidden-print" href="/Estimates/Edit/@Model.EstimateId"><i class="fa fa-pencil"></i>&nbsp;Редактировать</a>
}