<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SynWeb CRM</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SynWeb CRM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(SynWebCRM.Security.Roles.Admin) || User.IsInRole(SynWebCRM.Security.Roles.Sales))
                        {
                        <li>@Html.ActionLink("Клиенты", "Index", "Customers")</li>
                        }
                        if (User.IsInRole(SynWebCRM.Security.Roles.Admin) || User.IsInRole(SynWebCRM.Security.Roles.Sales))
                        {
                        <li>@Html.ActionLink("Заявки и сделки", "Index", "Deals")</li>
                        }
                        if (User.IsInRole(SynWebCRM.Security.Roles.Admin))
                        {
                            <li>@Html.ActionLink("Сайты", "Index", "Websites")</li>
                        }
                        if (User.IsInRole(SynWebCRM.Security.Roles.Admin))
                        {
                            <li>@Html.ActionLink("Календарь", "Index", "Calendar")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Синвеб</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/crm")
    @RenderSection("scripts", required: false)
</body>
</html>
